<section class="flex-column">
  <div class="columns is-centered">
    <div class="column is-one-quarter">
        <div class="zero-state-wrapper has-text-centered">
            <figure class="image is-3by2">
              <img src="assets/images/my-projects-zero.png">
            </figure>
            <h1 class="title">
                You don't have any projects, yet?
            </h1>
            <p class="content">
                Lorem Ipsum is simply dummy the printing and typesetting <br>industry. Lorem Ipsum has been andard dummy text 
            </p>

            <a 
                class="button is-link is-medium"
                routerLink="/new-project"
                routerLinkActive="is-active"
            >Create Project</a>
        </div>
    </div>
  </div>
</section>
