<section class="flex-column">
    <nav border-bottom: 4px solid transparent;
        class="navbar is-fixed-top" 
        role="navigation" 
        aria-label="main navigation"
        [ngClass]="{ 
            'is-shrunk': headerService.isShrunk,
            'is-subpage': headerService.isSubpage
        }"
    >
        <div class="container is-widescreen flex-column">

            <div class="level main-menu">
                <div class="left-level">

                    <div class="navbar-brand">
                        <a class="navbar-item logo" routerLink="/">
                            <b>EOS</b>&nbsp;HIVE
                        </a>
                    </div>

                </div>
                <div class="right-level">
                    
                    <div class="navbar-menu">
                        <div class="navbar-end">
                            <a 
                                class="navbar-item" 
                                routerLink="/" 
                                routerLinkActive="is-active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >Explore</a>

                            <a 
                                class="navbar-item" 
                                routerLink="/my-projects/1" 
                                routerLinkActive="is-active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >My Projects</a>

                            <a 
                                class="menu-profile" 
                                routerLink="/profile/1"  
                                routerLinkActive="is-active"
                                [routerLinkActiveOptions]="{exact: true}"
                            >
                                <figure class="image is-48x48">
                                    <img class="is-rounded" src="https://bulma.io/images/placeholders/48x48.png">
                                </figure>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="level second-level">
                <div class="level-item is-tall">

                    <div class="search-bar">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" placeholder="Find a repository">
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                    Search
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div> 
    </nav>
</section>