
section {
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .project-item {
    background-color: white;
    max-width: 1180px;
    background: #FFFFFF;
    box-shadow: 0 3px 7px 0 rgba(0,0,0,0.05);
  }
}
